    /* html{
      overflow-x: hidden;
    } */
    .left-padding{
    padding-left:5%;
    padding-right:5%;
    }
    body {
      font-family: "League Gothic", sans-serif;
      width: wrap;
    }

    .extra-font-family {
      font-family: "Roboto", sans-serif;
    }
    .pink-color-text {
      color: #e25379;
      font-size: 16px;
    }

    .sixteen-size-text {
      font-size: 18px;
    }


    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 5%;
    }

    .footer-pink-button {
      background-color: #e25379;
      color: whitesmoke;
      padding: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
      font-weight: bold;
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10rem;
    }
    .mini-grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-top: 10px;
    }
    .no-border{
      border: 0%;
    }
    .footer-text{
      margin-top: 20px;
      margin-bottom: 0px;
      color: #a9a9a9;
    }
    .footer-text-color{
      color: #a9a9a9;
    }
    .btn-group{
      margin-top: 20px;
      cursor: pointer;
      float: left;
    }
    .footer-img{
      margin: 5px;
    }
    .btn-style{
      background-color: inherit; border: none; margin-left: 5px;
    }
    .main-flex-box{
      display: flex;
      flex-wrap:wrap;
      margin-top: 5rem;
      /* justify-content: center; */
      justify-content: space-evenly;
      padding: 3rem;
    }
    .flex-box{
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
      align-content: center;
      /* width: 50%;
      height: 75%; */
    }

    footer{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #a9a9a9;
    }
    hr{
      border: 1px solid #a9a9a9;
      width: 95%;
    }

    .navbar-pink-button {
      background-color: #e25379;
      border: none;
      color: brown;
    }

    .above-footer{
      width: 100%;
      height: auto;
    }

    .pink-button {
      background-color: #e25379;
      box-shadow: 0px 10px 10px #fcbacb;
      color: whitesmoke;
      padding: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
    }

    .heading-text {
      font-size: 56px;
    }

    .card-text-size {
      font-size: 14px;
    }

    .navbar-text-size {
      font-size: 20px;
      font-weight: bold;
    }

    .card-heading-text {
      font-size: 25px;
    }

    .card-image-size {
      height: 50;
      width: 50;
      display: block;
    }

    .block-color {
      background-color: #1c2e4a;
    }

    .card-bg {
      background-color: #394d6d;
    }

    .icon-background-color {
      background-color: #7b889e;
    }

    .c-padding {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .top-padding{
      padding-top: 7rem;
    }

    .footer-padding {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .logo-height {
      height: 70%;
    }

    .logo-text-position{
      position: relative;
    }

    .left-paragraph-padding {
      padding-left: 30%;
      padding-right: 20%;
    }

    .right-paragraph-padding {
      padding-left: 5%;
      padding-right: 45%;
    }

    .dot {
      height: 50px;
      width: 50px;
      background-color: #7b889e;
      color: #ffff;
      border-radius: 50%;
      display: inline-block;
    }

    .logo {
      background-image: url("../images/overlay_1.webp"), url("../images/overlay_2.webp");
      background-color: #f5f5f5;
      height: 100%;
      background-position: left bottom, right top;
      background-repeat: no-repeat;
      position: relative;
    }

    .eighty-px{
      font-size: 80px;
    }

    .seventy-px{
      font-size: 70px;
    }

    .hollow-square{
      border: 7px solid #e25379;
      height: 35%;
      width: 25%;
      position:absolute;
      bottom: -10%;
      left: 30%;
    }
    .heigth-width-auto{
      width: auto;
      height: auto;
    }
    .text-location{
      position: relative;
      top: 15%;
      left: 75%;
      font-size: 42px;
      color:#1c2e4a;
      width:14rem;
    }
    .years-text-position{
      position: relative;
      top: 50rem;
      left:75%;
    }
    .img1-position{
      position: relative;
      left: -3%;
      bottom: -30px;
      height: auto;
      width: 30vw;
    }
    .img2-position{
      position: absolute;
      top: -7%;
    left: 35%;
    height: auto;
    width: 20vw;
    }
    .img-flex{
      display: flex;
      flex-wrap:wrap;
      background-color: #f5f5f588;
    }
    .location-text{
      position: relative;
      left: 4.5rem;
      top: -7rem;
    }
    .div-align{
      width:auto;
    }
    .numbers-size{
      font-size: 80px;
    }

    .size-32{
      font-size: 32px;
    }
    .img-size{
      width: 5rem;
       height: 5rem;
    }

    @media screen and (max-width: 1300px) {
      .div-align{
        width:50%;
      }
    }


    @media screen and (max-width: 1500px) {
      .left-paragraph-padding {
        padding-left: 10%;
        padding-right: 0%;
      }

      .right-paragraph-padding {
        padding-left: 5%;
        padding-right: 0%;
      }
    }
    @media screen and (max-width: 1230px) {
      .eighty-px{
      font-size: 60px;
    }
    .seventy-px{
      font-size: 50px;
    }
    }

    @media screen and (max-width: 1100px) {
      .heading-text {
        font-size: 48px;
      }
    }

    @media screen and (max-width: 990px) {
      .logo {
      background-color: #ffffe0;
      background-image: none, none;
    }
    .div-align{
      width:100%;
    }
    .top-margin{
      margin-top: 4rem;
    }
  .text-location{
    font-size: 30px;
  }
    }
    @media screen and (max-width: 900px) {
      .heading-text {
        font-size: 38px;
      }
      .logo-height{
      height: auto;
    }
    .eighty-px{
      font-size: 50px;
    }
    .left-padding{
      padding-left:0%;
      padding-right:0%;
      }
    .seventy-px{
      font-size: 40px;
    }

      .c-padding {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    @media screen and (max-width: 768px) {
      .left-paragraph-padding {
        padding-left: 5%;
      }
      footer{
        font-size: 14px;
      }
      .right-paragraph-padding {
        padding-left: 5%;
      }
      .img1-position{
        position: relative;
        left: 0%;
        bottom: 0%;
        height: 70%;
        width: 90vw;
      }

      .img2-position{
       display: none;
      }
      .hollow-square{
        border: 5px solid #e25379;
        height: 20%;
        width: 20%;
        position:absolute;
        bottom: 10%;
        left: 4%;
      }
      .text-location{
        position: relative;
        top: 50%;
        left:2%;
        font-size: 25px;
        color:#f5f5f5;
        width:14rem;
      }
    }
